<!DOCTYPE html>

<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <title>  Payout  </title>
            <body>
        {% block content %}
        <div id="maincontentWrapper">

            <h2> {{seller_name}} <h2> <br> <br> 

            

            <h1> Payout Information </h1>
            <p> Total Earnings: ${{totalPayout}} </p>

        </div>
        {% endblock %}


            </body>

</html>
    